*/.ipynb_checkpoints
*/__pycache__
*.DS_Store
*.pyc

*.log
*.aux
*.spl
*.bbl
*.blg

dog-project/dogImages/*
dog-project/lfw/*
dog-project/saved_models/weights.best.from_scratch.hdf5
dog-project/saved_models/weights.best.vgg16.hdf5
dog-project/saved_models/weights.best.VGG16.hdf5
dog-project/saved_models/weights.best.Xception.hdf5
dog-project/saved_models/aug_Xception.weights.best.hdf5
dog-project/saved_models/weights.best.InceptionV3.hdf5
dog-project/saved_models/weights.best.Resnet50.hdf5
dog-project/saved_models/weights.best.VGG19.hdf5
dog-project/saved_models/weights.best.final_model.hdf5
dog-project/bottleneck_features/DogVGG16Data.npz
dog-project/bottleneck_features/DogXceptionData.npz
dog-project/bottleneck_features/DogInceptionV3Data.npz
dog-project/bottleneck_features/DogResnet50Data.npz
dog-project/bottleneck_features/DogVGG19Data.npz
